extends layout

block content
  h1 #{title}: #{book_instance.title}
  p= book_instance.lifespan

    p Do you really want to delete this Book Instance?

    form(method='POST' action='')
      div.form-group
        input#bookInstid.form-control(type='hidden',name='bookInstid', required='true', value=book_instance._id )

      button.btn.btn-primary(type='submit') Delete
